{{ define "header" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/event.svg" type="image/x-icon">
    <link rel="stylesheet" href="/assets/styles.css">
</head>
{{ end }}

{{ define "header+" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/event.svg" type="image/x-icon">
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.9"
        integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous">
        </script>
</head>
{{ end }}